# **50 Python Programs 6th Grade**

#***Exercises 1 - 10***
These first 10 excersies cover Basic Arithmetic Operators, Initializing and Creating Variables, and Conditionals (If/Else Statements)

# ***1***
Create Variable test with initial value 10

In [ ]:
test = 10

# ***2***
Create 2 variables start and end with the values "start" and "end" respectively

In [ ]:
start = "start"
end = "end"

# ***3***
Compare whether 2 conditional variables, day1 and day2 are equal

Hint: Use ```==```

In [ ]:
day1 = "Monday"
day2 = "Wensday"
print(day1 == day2)

True

# ***4*** 
Create 2 variables, start_time and end_time and print the difference between the two.

In [ ]:
start_time = 0
end_time = 15
print(end_time - start_time)

15

# ***5*** 
Create 2 variables, time1 and time2 and print the greater variable

Hint: Use ```if():``` and ```else:```

In [ ]:
time1 = 10
time2 = 15
if(time1 > time2):
  print("time1")
else:
  print("time2")

time2

# ***6*** 
Create 2 variables, time1 and time2 and print the greater variable and its value

In [ ]:
time1 = 10
time2 = 15
if(time1 > time2):
  print("time1:", time1)
else:
  print("time2:", time2)

time2: 15

# ***7*** 
Given a float (decimal number), print how far the number is from 10.

In [ ]:
input_num = -10.00
if(input_num > 10):
  print(input_num - 10)
else:
  print(10 - input_num)

20.0

# ***8*** 
Print whether a number is even or odd

Hint: Use ```%```

In [ ]:
input_num = 141
if(input_num%2 == 0):
  print("even")
else:
  print("odd")

odd

# ***9*** 
Print the remainder of a number when divided by 11

In [ ]:
input_num = 1411
print(input_num%11)

3

# ***10*** 
Given a float, round the number and print it

In [ ]:
input_num = 1411.911213
print(round(input_num))

1412

#**Review**
By this point, printing, conditionals (```if(...):``` and ```else:```), and basic arithmetic functions have been covered.

***Task***: Create a script that given 2 integers, will check to see if either both are even or odd. If both are even or both are odd, ```print(True)```, but if one is even and one is odd, ```print(False)```.

In [ ]:
num1 = 121
num2 = 122
if(num1%2 == num2%2):
  print(True)
else:
  print(False)

False

#***Exercises 11 - 25***
These next 15 exercises will cover looping and lists

# ***11*** 
Write a ```for``` loop to print out the counting numbers from 0 - 9

Hint: ```for x in ___:```

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

# ***12*** 
Similar to previous question, but instead of 0 - 9, do 10 - 20

Hint: Use ```for x in ___:```

In [ ]:
for x in range(10,21):
  print(x)

10
11
12
13
14
15
16
17
18
19
20

# ***13*** 
Write a loop to print out counting numbers from 0 - 9, but use ```while``` instead of for

In [ ]:
x = 0
while x < 10:
  print(x)
  x = x+1    
  
  #Or x+=1 also works

0
1
2
3
4
5
6
7
8
9

# ***14*** 
Similar to past question also, but write a ```while``` loop to print out the counting numbers from 10-20

In [ ]:
x = 10
while x < 21:
  print(x)
  x+=1    
  
  #Or x = x+1 also works

10
11
12
13
14
15
16
17
18
19
20

# ***14*** 
Create a list called ```fruits``` that stores the values ```"Bannana", "Apple", and "Peach"```

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]

# ***15*** 
Using the list created in ex. 14, print out the second slot of the list

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]
print(fruits[1])

Apple

# ***16*** 
Using the list created in ex. 14, add (```append```) a new fruit, "Orange"

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]
fruits.append("Orange")

# ***17*** 
Using the list created in ex. 14, ```print``` out each value in the list

Hint: No loop required, just use ```print```

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]
print(fruits)

['Bannana', 'Apple', 'Peach']

# ***18*** 
Using the list created in ex. 14, given a new list, ```new_fruits = ["Pineapple", "Coconut", "Watermelon"]```, combine the two.

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]
new_fruits = ["Pineapple", "Coconut", "Watermelon"]
for x in new_fruits:
  fruits.append(x)

['Bannana', 'Apple', 'Peach', 'Pineapple', 'Coconut', 'Watermelon']

# ***19*** 
Using the list created in ex. 14, given the list, ```new_fruits = ["Pineapple", "Watermelon"]```, replace the corresponding value of fruits, with the corresponding values of new_fruits

In [ ]:
fruits = ["Bannana", "Apple", "Peach"]
new_fruits = ["Pineapple", "Watermelon"]
for x in range(len(new_fruits)):
  fruits[x] = new_fruits[x]
print(fruits)

['Pineapple', 'Watermelon', 'Peach']

# ***20 - 25*** 

***20:*** Create a list with 10 integer values assigned

In [ ]:
int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***21:*** Multiply Each Number in the list by 12

In [ ]:
for x in range(len(int_list)):
  int_list[x]*=12

***22:*** Add Each value in the list to the corresponding value from: ```add = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]```

In [ ]:
add = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
for x in range(len(int_list)):
  int_list[x] = (int_list[x] + add[x])

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

***23:*** Add Up all the values from each cell in the ```int_list```

In [ ]:
total = 0
for x in range (len(int_list)):
  total+= int_list[x]

***24:*** Convert each number in the list from a int to a string

In [ ]:
for x in range(len(int_list)):
  int_list[x] = str(int_list[x])

['15', '30', '45', '60', '75', '90', '105', '120', '135', '150']

***25:*** Finally, Add all the values to make 1 long string with each number seperated by a space

In [ ]:
print_me = ""
for x in range(len(int_list)):
  print_me = print_me + " " + int_list[x]
print(print_me)

 15 30 45 60 75 90 105 120 135 150

# ***Review*** 
Exercises 11 - 25 have been about loops and lists, both key concepts in coding. This review is to check your understanding on the topics.

Prompt: Given a list of conditionals (```True or False```), Count how many times ```True``` occurs and how many times ```False``` occurs. Then, set all values of the list to ```True``` if ```True``` occurs more, or ```False``` if ```False``` occurs more. If True and False are equal, set the first half to True, and Second half to false.

```Conditonal_List = [True, False, True, True, False, False, True, True, True, True, False, False, True, False, False, False, True, True, False, False]```

In [ ]:
Conditonal_List = [ True, False, True, True, False, False, True, True, True, True, False, False, True, False, False, False, True, True, False, False]
True_count = 0;
False_count = 0;

for x in range(len(Conditonal_List)):
  if(Conditonal_List[x] == True):
    True_count+=1
  else:
    False_count+=1
if(True_count > False_count):
  for x in range(len(Conditonal_List)):
    Conditonal_List[x] = True
elif (True_count < False_count):
  for x in range(len(Conditonal_List)):
    Conditonal_List[x] = False
else:
  for x in range(len(Conditonal_List)//2):
    Conditonal_List[x] = True
  for x in range(len(Conditonal_List)//2,len(Conditonal_List)):
    Conditonal_List[x] = False
print(Conditonal_List)

[True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False]

#***Exercises 26 - 40***

This set of 15 will cover User Input and creating functions

# ***26*** 
Grab the username through user input using ```input()```

In [ ]:
username = input("Enter username:")

Enter username:Kaushal

# ***27*** 
Grab the username and password through user input using ```input()```. ```Print``` back the result.

In [ ]:
username = input("Enter username:")
password = input("Enter password:")

print() #This is just so there is a space
print("Username:",username)
print("Password:",password)

Enter username:Kaushal
Enter password:Ramesh
Username: Kaushal
Password: Ramesh

# ***28*** 
Grab 2 numbers through user input and print out the result when they are multiplied

Hint: Use ```int()``` to convert ```string``` to an ```int```.

In [ ]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter another number:"))

print() #This is just so there is a space
print(num1 * num2)

Enter a number:2
Enter another number:3

6

# ***29*** 
Say an apple costs .59 cents and a pear costs .99 cents. Using user input and ommiting any taxes, find out how much it costs if one buys 3 apples and 4 pears.

In [ ]:
apples  = int(input("How many apples:"))
pears = int(input("How many pears:"))

print() #This is just so there is a space
print(apples * .59 + pears * .99)

How many apples:3
How many pears:4

5.73

# ***30*** 
Create a System that will check whether or not a user's credentials match the correct username and password. Using user input, if the User's username matches ```"Billy"``` and the Users password matches ```"Clark123"```, then ```print("Access Granted")```. Otherwise, ```print("Access Denied")```.

In [ ]:
username = input("Enter username:")
password = input("Enter password:")

print() #This is just so there is a space
if(username == "Billy" and password == "Clark123"):
  print("Access Granted")
else:
  print("Access Denied")

Enter username:Billy
Enter password:NotClark

Access Denied

# ***31*** 
Using user input, create a basic calculator that will add or subtract 2 numbers the user passes in. If the user passes in the numbers 1 , 2 and then types in -, then the output should be 1-2, or -1. If the user types in 3,4 and then +, the output should be 3+4, or 7.

In [ ]:
num1 = int(input("What is the first number:"))
num2 = int(input("What is the second number:"))
operation = input("What is the desired operation (- or +):")

print() #This is just so there is a space
if(operation == "-"):
  print(num1 - num2)
elif(operation == "+"):
  print(num1+num2)
else:
  print("Not Valid Operation Input")

What is the first number:2
What is the second number:3
What is the desired operation (- or +):p

Not Valid Operation Input

# ***32*** 
Now we are starting functions. Using the keyword ```def```, create a basing function called add that does not take anything in, nor returns anything.

In [ ]:
def add():
  print()

# ***33*** 
Adding on to the previous function, make it so that the function add, takes in 2 numbers and prints out their sum.

In [ ]:
def add(num1, num2):
  print(num1 + num2)

# ***34*** 
Create another function, subtract that does the opposite of add and subtracts the two numbers passed in.

In [ ]:
def subtract(num1, num2):
  print(num1 - num2)

# ***35*** 
Create a function that takes in a number and prints out all the numbers under it

Hint: ```for x in ___```

In [ ]:
def under(num1):
  for x in range(num1):
    print(x)

# ***36*** 
Create a function similar to the previous that takes in a number and prints out the sum of all the numbers under it including the number itself. For example, sum_under(6) would print out 21.

In [ ]:
def sum_under(num1):
  out = 0
  for x in range(num1+1):
    out+=x
  print(out)

# ***37*** 
Create 2 functions where one multiplies by 5 and one takes the output of the first one and adds 4 to the output of it.

In [ ]:
def times5(num1):
  return num1*5

def plus4(num1):
  return times5(num1)+4

# ***38*** 
Create a function that scrambles the order of a sentence inputted by a user. The last and first word will be switched and the second word will be deleted. Use a switching algorithm in order to swich the first and last words. This excersise is more difficult then the previous one, but try your best!

Hint: Using the method ```.split(" ")``` on a string will split the sentence into a list where each word occupies a slot.

In [ ]:
def sentence_scrambler(sent):
  words = sent.split(" ")
  output = ""
  #Below is a common switching algorithm
  temp = words[0] #Temporarily stores value that will be replaced
  words[0] = words[len(words)-1] # Replaces value 1 with value 2
  words[len(words)-1] = temp # Replace value 2 with temp which stores value 1
  words[1] = ""
  for x in words:
    output = output + x + " "
  print(output)
sentence_scrambler("The last and first word")

word  and first The

# ***39*** 
Create a function that sorts a list. Use the ```sorted()``` function which will sort a list alphaetically.

In [ ]:
def list_sorter(sort_me):
  return sorted(sort_me)

# ***40*** 
Revisting the previous topics, create a 4 function calculator using functions that can add, subtract, multiply and divide. Take in user input like before.

In [ ]:
num1 = int(input("What is the first number:"))
num2 = int(input("What is the second number:"))
operation = input("What is the desired operation (- , + , / or *):")

def add(n1, n2):
  return n1+n2

def subtract(n1, n2):
  return n1-n2

def multiply(n1, n2):
  return n1*n2

def divide(n1, n2):
  return n1/n2
  
if(operation == "+"):
  print(add(num1,num2))
elif(operation == "-"):
  print(subtract(num1,num2))
elif(operation == "*"):
  print(multiply(num1,num2))
elif(operation == "/"):
  print(divide(num1,num2))
else:
  print("Invalid Operation")

What is the first number:2223123
What is the second number:1231
What is the desired operation (- , + , / or *):-
2221892

#***Challenge Problems***
These last 7 questions are for overall review as well as a challenge. They are about finding solutions to a problem of some sort using what we have learned so far.

#***41***
Given a list of integer numbers, return the amount of numbers in that list that are even.

In [ ]:
numbers = [1,2,3,4,5,6,7,8] # can be any list, this is just an example
def count_evens(numbers):
  count = 0
  for x in numbers:
    if x % 2 == 0:
      count+=1
  return count

4

#***42***
Given a list of integer numbers, return the average value of the numbers

In [ ]:
numbers = [10,12,13,14,12,11,15,19,7,6,46] # can be any list, this is just an example
def average(numbers):
  total = 0
  for x in numbers:
    total+=x
  return total/len(numbers)

print(average(numbers))

15.0

#***43***
Given a list of numbers, if anywhere in the list, there are 2 consecutive numbers (```list[x] == list[x+1]```), return true, else return false.

In [ ]:
numbers = [12,145,14,122,142,2,3154,132,132,242,1245,235,123] # can be any list, this is just an example
def consecutive(numbers):
  for x in range(len(numbers)-1):
    if(numbers[x] == numbers[x+1]):
      return True
  return False

print(consecutive(numbers))

True

#***44***
Given a list of integer numbers, find the range of the list (the maximum - minimum value)

In [ ]:
numbers = [12,145,14,122,142,2,3154,132,132,242,1245,235,123] # can be any list, this is just an example
def range(numbers):
  min = numbers[0]
  max = numbers[0] 
  for x in numbers:
    if(x < min):
      min = x
    if(x > max):
      max = x
  return max-min

print(range(numbers))

3152

#***45***
Given a list of integer numbers, find the sum of all numbers that are either odd or less than 100

In [ ]:
numbers = [12,145,14,122,142,2,3154,132,132,242,1245,235,123] # can be any list, this is just an example
def odd_or_hundred(numbers):
  total=0
  for x in numbers:
    if(x%2 == 1 or x<100):
      total+=x
  return total

print(odd_or_hundred(numbers))

1776

#***46***
Create a function that randomly Displays a numerical 4-digit password using ```random.randint(range)```.

In [ ]:
def randompassword():
  a = random.randint(0,9)
  b = random.randint(0,9)
  c = random.randint(0,9)
  d = random.randint(0,9)
  return str(a) + str(b) + str(c) + str(d)

print(randompassword())

9274

#***47***
A fibonnaci number is a number created by the sum of the previous 2 numbers starting at 0 and 1. The first 5 fibbonaci numbers are 0,1,1,2,3. Create a function that finds the nth fibbonaci number.

In [ ]:
def Fibonacci(n):
  int1 = 0 #creating first 2 numbers
  int2 = 1

  temp = int1 #adding numbers to get next numbers and slidng down number 2 into number1
  int1 = int2
  int2+=temp

  if n < 0:
        print("Not Possible")
  elif n == 0:
        return 0
  elif n == 1 or n == 2:
        return 1
  else:
    return Fibonacci(n-1) + Fibonacci(n-2) #This is an advanced technique called recursion which is used to loop a function within itself.
print(Fibonacci(15))

610